<template>
  <header class="header">
    <b-navbar type="dark" variant="dark" class="navBar">
      <b-container>
        <b-navbar-brand href="#"> MovieDB </b-navbar-brand>
        <b-nav-form>
          <b-form-input
            class="mr-sm-2 search-input"
            placeholder="search"
            v-model="searchVlaue"
            debounce="500"
          ></b-form-input>
        </b-nav-form>
      </b-container>
    </b-navbar>
  </header>
</template>

<script>
import { mapActions } from "vuex";
export default {
  name: "HeaderVue",
  data() {
    return {
      searchVlaue: "",
    };
  },
  watch: {
    searchVlaue: "onSearchValue",
  },
  methods: {
    ...mapActions("movies", [
      "searchMovies",
      "fetchMovies",
      "toggleSeacrhState",
    ]),
    onSearchValue(val) {
      if (val) {
        this.searchMovies(val);
        this.toggleSeacrhState(true);
      } else {
        this.fetchMovies();
        this.toggleSeacrhState(false);
      }
    },
  },
};
</script>

<style scoped>
.header {
  margin-bottom: 30px;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.7) !important;
}

.search-input {
  color: #fff;
  background: rgba(255, 255, 255, 0.1);
  border-color: rgba(0, 0, 0, 0.6);
}

.search-input:focus {
  box-shadow: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
  border-color: rgba(0, 0, 0, 0.6);
}
</style>
