<template>
  <div class="loader-wrap" v-if="isShowLoader">
    <b-spinner type="grow" variant="light"></b-spinner>
  </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: "LoaderStore",
  computed: {
    ...mapGetters(["isShowLoader"]),
  },
};
</script>

<style lang="scss" scoped>
.loader-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
</style>
