<template>
  <div class="movies-pagination">
    <b-pagination
      v-model="currentPageModal"
      :per-page="perPage"
      :total-rows="total"
      prev-text="Prev"
      next-text="Next"
    />
    {{ currentPage }}
  </div>
</template>

<script>
export default {
  name: "MoviesPagination",
  data() {
    return {};
  },
  props: {
    currentPage: {
      type: Number,
      default: 1,
    },
    total: {
      type: Number,
      default: 1,
    },
    perPage: {
      type: Number,
      default: 1,
    },
  },
  computed: {
    currentPageModal: {
      get() {
        return this.currentPage;
      },
      set(value) {
        this.$emit("pageChanged", value);
      },
    },
  },
};
</script>

<style lang="scss" scoped>
.movies-pagination {
  display: flex;
  justify-content: center;
  margin-top: auto;
}

.pagination /deep/ .page-item .page-link {
  background-color: transparent;
  font-size: 12px;
  color: #fff;
  box-shadow: none;
}

.pagination /deep/ .page-item.active .page-link {
  border-color: #fff;
  background-color: #fff;
  color: #000;
}

.pagination /deep/ .page-item.disabled .page-link {
  color: lightgray;
}
</style>
