<template>
  <BContainer>
    <h3 class="list-title">{{ listTitle }}</h3>
    <div>
      <BRow>
        <template v-if="isExit">
          <BCol cols="3" v-for="(movie, key) in list" :key="key">
            <MoviesItem
              :movie="movie"
              @mouseover.native="onMouseOver(movie.Poster)"
              @removeItem="onRemoveItem"
              @showModal="onShowMovieIfno"
            />
          </BCol>
        </template>
        <template v-else>
          <div class="empty">empty list</div>
        </template>
      </BRow>
      <b-modal
        body-class="movie-modal"
        :id="onShowMovieIfnoId"
        size="xl"
        hide-footer
        hide-header
      >
        <MovieInfoModal
          :selcetedMoive="selcetedMoive"
          @closeModal="closeModal"
        />
      </b-modal>
    </div>
  </BContainer>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
import MoviesItem from "./MoviesItem.vue";
import MovieInfoModal from "./MovieInfoModal.vue";

export default {
  name: "MoviesList",
  components: {
    MoviesItem,
    MovieInfoModal,
  },
  props: {
    list: {
      type: Object,
      default: () => ({}),
    },
  },
  data() {
    return {
      onShowMovieIfnoId: "movie-info",
      selcetedMovieId: "",
    };
  },
  computed: {
    ...mapGetters("movies", ["isSearch"]),
    isExit() {
      return Boolean(Object.keys(this.list).length);
    },
    listTitle() {
      return this.isSearch ? "Search result" : "IMDB top 250";
    },
    selcetedMoive() {
      return this.selcetedMovieId ? this.list[this.selcetedMovieId] : null;
    },
  },
  methods: {
    ...mapActions("movies", ["removeMovies"]),
    ...mapActions(["showNotify", "toggleShow"]),
    onMouseOver(poster) {
      this.$emit("changePoster", poster);
    },
    async onRemoveItem({ id, title }) {
      const isConfirm = await this.$bvModal.msgBoxConfirm(`Удалить? ${title}`);

      if (isConfirm) {
        this.removeMovies(id);
        this.toggleShow(true);
        this.showNotify({
          msg: "Movies deleted",
          variant: "success",
          title: "success",
        });
      }
    },
    onShowMovieIfno(id) {
      console.log(id);
      this.selcetedMovieId = id;
      this.$bvModal.show(this.onShowMovieIfnoId);
    },
    closeModal() {
      this.selcetedMovieId = null;
      this.$bvModal.hide(this.onShowMovieIfnoId);
    },
  },
};
</script>

<style scoped>
.list-title {
  margin-bottom: 30px;
  font-size: 50px;
  color: white;
}
</style>

<style>
.movie-modal {
  padding: 0 !important;
}
</style>
