<template>
  <div class="movie mb-3">
    <div class="movie-poster" :style="posterBg"></div>
    <div class="movie-poster-wrapper">
      <div class="movie-poster-wrapper__info">
        <h3 class="potser-title">{{ movie.Title }}</h3>
        <span class="poster-year">{{ movie.Year }}</span>
      </div>
      <div class="movie-poster-wrapper__controls row no-gutters">
        <div class="col pr-2">
          <BButton
            class="poster-buttons"
            block
            variant="outline-light"
            @click="showInfoModalEvent"
            >Info</BButton
          >
        </div>
        <div class="col pl-2">
          <BButton
            class="poster-buttons"
            size="md"
            block
            variant="outline-light"
            @click="emitRemoveItem"
            >Remove</BButton
          >
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "MoviesItem",
  props: {
    movie: {
      tyoe: Object,
      required: true,
    },
  },
  computed: {
    posterBg() {
      return {
        "background-image": `url(${this.movie.Poster}`,
      };
    },
  },
  methods: {
    emitRemoveItem() {
      this.$emit("removeItem", {
        id: this.movie.imdbID,
        title: this.movie.Title,
      });
    },
    showInfoModalEvent() {
      this.$emit("showModal", this.movie.imdbID);
    },
  },
};
</script>

<style lang="scss" scoped>
.movie {
  position: relative;
  cursor: pointer;
  border-radius: 5px;
  overflow: hidden;
  transition: all 0.2s ease;
  height: 400px;

  &:hover {
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.7);
    transform: scale(1.02);
  }

  &-poster {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;

    &-wrapper {
      padding: 20px 10px;
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: space-between;
      opacity: 0;
      transition: all 0.2s ease;

      &:hover {
        opacity: 1;
        background-color: rgba(0, 0, 0, 0.7);
      }

      &__info {
        color: #fff;

        .potser-title {
          font-size: 20px;
        }

        .poster-year {
          font-size: 14px;
        }
      }

      &__controls {
        .poster-buttons {
          width: 100%;
        }
      }
    }
  }
}
</style>
