<template>
  <div
    :class="[
      'massage',
      { 'massage--error': massgePool.variant === 'danger' },
      { 'massage--success': massgePool.variant === 'success' },
    ]"
    @click="close"
  >
    <div class="massage__title">{{ massgePool.title }}</div>
    <div class="massage__msg">{{ massgePool.msg }}</div>
  </div>
</template>

<script>
import { mapActions, mapGetters } from "vuex";
export default {
  name: "NotifiCation",
  computed: {
    ...mapGetters(["massgePool"]),
  },
  watch: {
    massagePool: "showNotification",
  },
  methods: {
    ...mapActions(["toggleShow"]),
    showNotification({ variant, msg, title }) {
      this.$bvToast.toast(msg, {
        title,
        variant,
        solid: true,
      });
    },
    close() {
      this.toggleShow(false);
    },
  },
};
</script>

<style lang="scss">
.massage {
  position: absolute;
  top: 2%;
  right: 2%;
  height: 60px;
  width: 215px;
  opacity: 1;
  z-index: 999;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;

  &--error {
    background-color: #fc4f4f;
  }

  &--success {
    background-color: #6ffc4f;
  }

  &__title {
    width: 100%;
    text-align: right;
    padding-right: 10px;
    border-bottom: 1px solid #f8d7da;
  }

  &__msg {
    padding-top: 5px;
  }
}
</style>
